[submodule "tools/qorca"]
	path = tools/qorca
	url = https://github.com/Markus-G-S-Weiss/qorca.git
[submodule "tools/qqchem"]
	path = tools/qqchem
	url = https://github.com/Markus-G-S-Weiss/qqchem.git
